<div class="card">
    
    <div class="blog-posts">
        <label class="content" for="content">content:</label>
        <input class="content" type="text" id="content" />
        
    <button class="comments-btn" id="submitCom">submit comment</button>
</div>


  <script src="/js/commentadd.js"></script>