<div class="card">
    
    <div class="blog-posts">
        <label class="title" for="title">title:</label>
        <input class="title" type="text" id="title" />
        <label class="content" for="content">content:</label>
        <input class="content" type="text" id="content" />
        
    <button class="comments-btn" id="submitPost">submit Post</button>
</div>


  <script src="/js/postadd.js"></script>