
<h2>Your posts</h2>
{{#each dashContent as |post|}}
{{> dash-det}}
{{/each}}

<h2>Your Comments</h2>


{{#each dashComment as |comment|}}
{{> dash-com}}
{{/each}}

<button class="comments-btn" id="addPost">add Post</button>