<div>
<h2>Your posts</h2>
<button class="comments-btn" id="addPost">add Post</button>
</div>
{{#each dashContent as |post|}}
{{> dash-det}}
{{/each}}

<h2>Your Comments</h2>


{{#each dashComment as |comment|}}
{{> dash-com}}
{{/each}}

  <script src="/js/post.js"></script>
  <script src="/js/delete.js"></script>